{% extends "Musicales/base.html" %}

{% block main %}

<header>
    <h1>Sobre mi</h1>
</header>
<main>
    <section class="about-description">
        <p>¡Hola! Soy Candela Fagnani, estudiante de la carrera de Bioingeniería en el ITBA (Instituto Tecnológico de Buenos Aires).</p>
    
        <h2>Orígenes</h2>
    
        <ul>
            <p>Siempre me gustaron las ciencias duras (la matemática, la física, la química). Desde muy chica quise ser ingeniera, y gracias a la carrera que estoy estudiando estoy cada vez más cerca de cumplir mi sueño.</p>
        </ul>
        
        <h2>Intereses</h2>
    
        <ul>
            <li>Me gusta ayudar al otro; es por esto que el área de Bioingeniería que más me gusta es la electrónica y la informática.</li>
            <li>Para ampliar más mis conocimientos comencé este curso. Espero poder seguir mejorando mis habilidades como programadora para así algún día ayudar a alguien a través de la invención de una nueva prótesis o algún algoritmo.</li>
            <li>Una de mis actividades favoritas es la Comedia Musical, así que como proyecto final decidí hacer esta página para que todo aquel aficionado que quiera saber qué musical escuchar o aprender un poco más del tema, tenga la posibilidad de hacerlo.</li>
        </ul>
    </section>
    {% endblock %}
    