{% extends 'Musicales/base.html'%}

{% block main %}
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
            {% for post in posts %}
            {% if forloop.first %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}
                {% if post.imagen %}                    
                    <img src="{{post.imagen.url}}" style="max-width: 100%; max-height: 100%; object-fit: cover;">
                {% else %}
                    <img src="media/posts/POSTDEFAULT.jpg">
                {% endif %}
                    <div class="container">
                    <div class="carousel-caption text-start" style="color:black">
                        <p><a class="btn btn-info" href="{% url 'post-detail' post.id %}">Ver más</a></p>
                    </div>
                    </div>
                </div>
            {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
    
          {% for post in posts %}
            <div class="col-lg-4">
            {% if post.imagen %}                    
                <img src="{{post.imagen.url}}" height="144" width="100%">
            {% else %}
                <img src="media/posts/POSTDEFAULT.jpg" height="144" width="100%">
            {% endif %}
            <h2>{{post.musical}}</h2>
            <p>{{post.estreno}}</p>
            <small> {{post.publisher.username}} </small>
            <p><a class="btn btn-secondary" href="{% url 'post-detail' post.id %}">Ver más »</a></p>
            </div><!-- /.col-lg-4 -->
          {% endfor %}  
       
    
          
          
        </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
      <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Descrubre todo acerca de los musicales más conocidos del mundo en Musicals!</h2>
          <p class="lead">En esta página podrás compartir aventuras, experiencias y buscar recomendaciones para tu próximo viaje a Nueva York</p>
          <p><a class="btn btn-info" href="{% url 'post-list' %}">Vamos allá</a></p> 
      </div>
      <div class="col-md-5 order-md-1">
        <img src="media/posts/POSTDEFAULT.jpg" height="400" width="100%">

      </div>
      

      


      <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}