{% extends "Musicales/base.html" %}

{% block main %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">¿Estás seguro que quieres borrar el post "{{ object.musical }}"?</h1>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-danger"> Borrar </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: bold;
  }

  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
</style>
{% endblock %}
